//array input

@mixin reset-aa-button {
  background: none;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  line-height: 1;
  padding: 0;
  text-shadow: none;
  vertical-align: middle;

  &:not(.disabled) {
    &:hover,
    &:active,
    &:focus {
      background: none;
      border: 0;
      box-shadow: none;
    }
  }
}

.formtastic li.array.input {
  .input-group--array {
    width: 75%;
    margin: 0 0 0 25%;
    .input-group--array__item {
      padding: 4px 0;
      input {
        display: inline-block;
        margin: 0 10px 0 0;
        &.text--strike {
          text-decoration: line-through;
        }
      }
      &.hidden {
        display: none;
      }
    }

    .array-action--add,
    .array-action--remove {
      @include reset-aa-button;
      display: inline-block;
      font-size: rem(15);
    }

    .array-action--add {
      color: green;
    }

    .array-action--remove {
      color: red;
    }
  }
}